.invisible,
.totallyinvisible {
    position: absolute;
    left: -100000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    outline: 0;
}
.invisible:focus {
    position: static;
    width: auto;
    height: auto;
}
a,
address,
article,
aside,
blockquote,
body,
button,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
input,
label,
legend,
li,
main,
menu,
nav,
ol,
p,
section,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    font-style: normal;
    font-weight: 400;
    outline: 0;
}
button {
    -webkit-appearance: none;
}
li {
    list-style: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}
button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner,
textarea::-moz-focus-inner {
    padding: 0;
    border: 0;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 100%;
    background: #624968;
    color: #000;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    height: 100vh;
    width: 100vw;
    max-width: 650px;
    margin: auto;
}
body.solved {
    background: rgb(121, 107, 107);
}
.canvaswrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    /*margin: 10px;*/
    /*height: calc(100vh - 40px);*/
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 75vh;
    width: 90%;
    background-repeat: no-repeat;
    margin: auto;
}
.canvaswrapper .canvas {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*background: silver;*/
    /*background-image: url("img/1.png");*/
    background-size: 100% 100%;
}
.optionstrigger {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.5em;
    background: #fff;
    width: 2em;
    height: 2em;
    cursor: pointer;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 60 ")";
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}
.optionstrigger:hover {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.optionstrigger img {
    max-width: 100%;
}
.optionswrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: -1;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.optionswrapper.shown {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    z-index: 10;
}
.optionswrapper .mask {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.optionswrapper .options {
    z-index: 2;
    min-width: 50px;
    padding: 1em;
    background: #fff;
    border-radius: 2px;
}
.inputwrap {
    padding: 0.5em 0;
}
.inputwrap label {
    padding: 0 0 1em;
    display: block;
}
.forminput {
    padding: 0.2em;
    width: 4em;
    border: 1px solid #333;
    font-size: 1.3em;
}
.forminput:focus {
    outline: 3px solid #000;
}
.fileinput {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.3em;
    padding: 0.3em;
    border: 1px solid #333;
}
.fileinput:focus {
    outline: 3px solid #000;
}
.btnwrapper {
    padding-top: 1em;
}
.aboutlink,
.btnwrapper {
    text-align: center;
}
h1 {
    display: block;
    margin: 0 0 0.5em;
    padding: 0;
    font-weight: 700;
    font-size: 150%;
    font-size: 1.5rem;
}
a {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: 3px solid #000;
}
input.btn {
    padding-top: 0;
    padding-bottom: 0;
    height: 2.08em;
}
input.btn.btn-small {
    height: 1.42857143em;
}
.btn {
    display: inline-block;
    padding: 0 1.5em;
    line-height: 2em;
    margin: 0 0 0.5em;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    background: #000;
    color: #fff;
    outline: 0;
    cursor: pointer;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    vertical-align: middle;
    font-family: Arial, Helvetica;
    border-collapse: separate;
    overflow: visible;
}
.btn,
.btn:hover {
    text-decoration: none;
}
.btn:hover {
    background: #666;
}
.btn:focus {
    outline: 3px solid #000;
}
.btn.btn-block {
    display: block;
    width: 100%;
}
.btn.btn-primary {
    background: #00703c;
}
.btn.btn-secondary {
    background: #aa2a16;
}
